<div class="card">
    <img src="https://cdn2.thecatapi.com/images/<%= image %>.jpg" alt="Siames">
    <div class="card-content">
        <h3><%= breed %></h3>
        <p>Tamaño: <%= size %></p>
        <p>Pelaje: <%= coat %></p>
        <div class="tags">
            <%= characteristics  %>
        </div>
        <div class="button">
            <button id="btn-favoritos">Añadir a favorito</button>
        </div>
    </div>
</div>
